# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

docs/node_modules
docs/.next/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# Native
mobile/*.orig.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision

# Metro
mobile/.metro-health-check*

# debug
mobile/npm-debug.*
mobile/eyarn-debug.*
mobile/yarn-error.*

# macOS
mobile/.DS_Store
mobile/*.pem

# local env files
.env*.local

# typescript
mobile/*.tsbuildinfo

