# EXAMPLE, copy and rename this to .env
# before running!!

# In order to get these variables you must go to supabase and make a project!!
# 1) EXPO_PUBLIC_SUPABASE_URL=[Insert API URL here]
# 2) EXPO_PUBLIC_SUPABASE_ANON_KEY=[anon key]
# NOTE: Do not surroung your key in []'s or ""'s

# EX:
EXPO_PUBLIC_SUPABASE_URL=http://my.supabase.url:port
EXPO_PUBLIC_SUPABASE_ANON_KEY=mySuperLongAnonKey

# Also if you forgot this you most likely also forgot to update apps/supabase/.env as well, so read that!!